.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    fieldset {
        border: 0;
        width: 100%;
    
        &:not(:last-child) {
            margin-bottom: 26px;
        }

        > button {
            margin-top: 24px;
        }
    }


}

