.numberToggle {
    display: flex;

    button {
        background-color: #be9578;
        font-family: 'oldenburg';
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 200;
        border: 0;
        cursor: pointer;
        border-radius: 2px;
        height: 25px;
        width: 25px;
        line-height: 1;
        font-size: 19px;

        &:hover {
            background-color: #9d7c64;
        }

        form & {
            width: 50px;
            border-radius: 4px;
            height: 50px;
            font-size: 40px;

        }

        &:disabled {
            background-color: #e4cab5;
            pointer-events: none;
        }
    }

    input[type="number"] {
        width: 38px;
        border-radius: 0;
        border: 0;
        padding-left: 4px;
        padding-right: 4px;
        text-align: center;
        letter-spacing: -.15rem;
        height: 25px;
        font-family: 'inter';
        pointer-events: none;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        color: #636363;
        position: relative;
        
        form & {
            height: auto;
            width: 58px;
        }

        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button {
            display: none;
        }
    }
}