@use '../../../../../shared/styles/mixins/screens' as screens;

.image {
    position: relative;
    max-height: 110px;

    @include screens.respond-to(tablet) {
        max-height: 148px;
    }

    img {
        width: 96px;
        height: 110px;
        border-radius: 4px;

        @include screens.respond-to(tablet) {
            height: 148px;
            width: 115px;
            object-fit: cover;
        }
    }

    &::before {
        background: var(--siteCardBackdropColour);
        border-radius: 4px;
        height: 100%;
        width: 100%;
        position: absolute;
        content: "";
        z-index: -10;
        top: 0;
        left: 0;
        transform: rotate(8deg);
        transition: transform 0.2s ease;
    }
}