@use '../../../../shared/styles/mixins/screens' as screens;

.cartsummary {

    @include screens.respond-to(tablet-small) {
        padding: 8px 25px 15px 25px;
        border: solid 1px var(--siteCartSummaryBorderColour);
        border-radius: 4px;
    }

    @include screens.respond-to(tablet) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @include screens.respond-to(desktop-small) {
        padding-left: 30px;
        padding-right: 30px;
    }

    &__total {
        border-top: solid 1px var(--siteCartSummaryBorderColour);
        margin-top: 8px;
        
        @include screens.respond-to(tablet-small) {
            margin-left: -25px;
            margin-right: -25px;
            padding-left: 25px;
            padding-right: 25px;
        }

        @include screens.respond-to(tablet) {
            margin-left: -40px;
            margin-right: -40px;
            padding-left: 40px;
            padding-right: 40px;
        }

        @include screens.respond-to(desktop-small) {
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 7px;
        padding-bottom: 7px;
        align-items: center;


        span {
            &:first-of-type {
                font-family: var(--siteFontFamilySecondary);
                font-size: 20px;
                line-height: 26px;
                letter-spacing: -0.06em;
                color: var(--siteTextColourLight);
            }


            &:last-of-type {
                font-size: 18px;
                line-height: 31px;
                text-align: right;
                letter-spacing: -0.08em;
                color: var(--siteTextColour);
                font-family: var(--siteFontFamilyPrimary);
            }
        }

        &__total {
            padding-bottom: 12px;
            margin-top: 8px;


            span {
                &:first-of-type {
                    color: #4A4A4A;
                }
    
    
                &:last-of-type {
                    font-size: 22px;
                }
            }
        }

    }
}