@use '../../../../styles/mixins/screens' as screens;


.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-family: var(--siteFontFamilyPrimary);
    border-radius: var(--siteImageBorderRadius);
    box-shadow: var(--siteImageBoxShadow);
    padding: 14px;
    background: var(--siteCardBackgroundColour);
    height: 307px;

    &--slide {
        width: 305px;

        @include screens.respond-to(desktop-small) {
            width: calc(((100vw - var(--positiveMargin) * 2) - (40px * 2) )/ 3);
        }

        @include screens.respond-to(desktop) {
            width: calc(((100vw - var(--positiveMargin) * 2) - (30px * 3) )/ 4);
            max-width: calc((var(--containerMaxWidth) - 30px  * 3)  / 4 );
        }
    }

    @include screens.respond-to(tablet) {
        padding: 19px;
    }

    img {
        width: 100%;
        height: calc(100% - 58px);
        border-radius: 4px;
        object-fit: cover;

    }

    footer {
        height: 58px;
        padding-top: 14px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        > span {
            display: block;

            &:first-of-type {
                font-size: 20px;
                line-height: 23px; 
                letter-spacing: -0.05em;
            }

            &:last-of-type {
                font-size: 16px;
                line-height: 14px;
                color: var(--siteCardTextSecondaryColour);
                font-family: 'Inter';
            }
        }
    }
}