.textinput {
    width: 100%;
    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    border: 2px solid #c6c8cd;
    border-radius: 4px;
    font-family: 'Oldenburg';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #636363;
    position: relative;
    outline-color: #a37e63;
    height: 50px;
    line-height: 20px;
}